# Игнорировать ВСЁ в проекте
*

# Но НЕ игнорировать сами директории (иначе Git не увидит файлы внутри папок)
!*/

# НЕ игнорировать файлы с расширением .sv
!*.sv

# НЕ игнорировать сам файл .gitignore
!.gitignore

# (Опционально) Если у вас есть .v файлы, раскомментируйте строку ниже:
# !*.v